<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Tamaki - Error</title>

	<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container">
	<h1 class="text-danger">An unexpected error occurred.</h1>
	<br/>
	<p><strong>Message:</strong> <%= message %></p>
	<% if (typeof(error) !== 'undefined') { if (typeof(error.status) !== 'undefined') { %>
	<p><strong>Status:</strong> <%= error.status %></p>
	<% } if (typeof(error.stack) !== 'undefined') { %>
	<p><strong>Stack:</strong></p><pre><%= error.stack %></pre>
	<% } } %>
</div>
<div name="scripts">
	<script src="/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="/bower_components/popper.js/dist/umd/popper.min.js"></script>
	<script src="/bower_components/moment/min/moment-with-locales.min.js"></script>
	<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</div>
</body>
</html>
