<!DOCTYPE html>
<html lang="en" ng-app="tamaki">
<% include _partials/head.ejs %>
<body ng-controller="controller"
      ng-init="initGoogleCalendar('<%= googleToken %>')">
<small class="text-muted float-left ml-1 mt-1">{{calendarTime}}</small>
<small class="text-muted float-right mr-1 mt-1">{{newsTime}}</small>
<div class="jumbotron header">
    <div class="container">
        <h1 class="d-flex justify-content-between">
            <div class="text-left third-width">{{clock.week}}</div>
            <div class="text-center third-width">{{clock.date}}</div>
            <div class="text-right third-width">{{clock.time}}</div>
        </h1>
        <p title="Click to reload"
           class="text-muted"
           onclick="location.reload(true)">Tamaki, a dashboard for my RaspberryPi model 2B.</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div ng-if="calendarError"
                 class="alert alert-danger"
                 role="alert">{{calendarError}}
            </div>
            <a ng-if="!calendarItems || calendarItems.length === 0"
               class="btn btn-primary"
               href="/google/redirect/">Authorize Google calendar</a>
            <ul class="list-unstyled calendar-list">
                <li ng-repeat="calendarItem in calendarItems | limitTo:20 track by calendarItem.id"
                    class="media mb-2 calendar-item"
                    ng-style="{'background-color': calendarItem.backgroundColor, 'color': calendarItem.foregroundColor}">
                    <div class="media-body calendar-body"
                         ng-style="{'color': calendarItem.foregroundColor}">
                        <p class="calendar-title">{{calendarItem.summary}}</p>
                        <small class="calendar-date"
                               id="calendar_{{calendarItem.id}}_date">{{getCalendarTime(calendarItem.start,
                            calendarItem.end)}}
                        </small>
                        <small class="calendar-location"
                               ng-style="calendarLocationStyle(calendarItem.id)">{{calendarItem.location}}
                        </small>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-sm-6">
            <div ng-if="newsError"
                 class="alert alert-danger"
                 role="alert">{{newsError}}
            </div>
            <ul class="list-unstyled news-list">
                <li ng-repeat="newsItem in newsItems | limitTo:20 track by newsItem.guid"
                    class="media mb-2 news-item">
                    <div class="news-image-wrapper">
                        <img ng-src="{{newsItem.enclosure.link}}"
                             class="d-flex news-image"/>
                    </div>
                    <div class="media-body news-body">
                        <p class="news-title">{{newsItem.title}}</p>
                        <small class="text-muted news-date">{{getRelativeTime(newsItem.pubDate)}}</small>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<% include _partials/scripts.ejs %>
</body>
</html>
