<meta charset="utf-8"/>
<meta name="generator"
      content="NodeJS Express"/>
<meta http-equiv="X-UA-Compatible"
      content="IE=edge"/>
<meta name="viewport"
      content="width=device-width,initial-scale=1"/>
<meta name="theme-color"
      content="#eaecef">
<meta name="msapplication-navbutton-color"
      content="#eaecef">
<meta name="apple-mobile-web-app-capable"
      content="yes">
<meta name="apple-mobile-web-app-status-bar-style"
      content="black-translucent">
<link rel="icon"
      type="image/ico"
      href="/favicon.ico"/>
<link rel="shortcut icon"
      type="image/png"
      href="/images/kiririn.png"/>
