<link rel="stylesheet"
      href="/dist/bootstrap/css/bootstrap.min.css"/>
<link rel="stylesheet"
      href="/styles/style.css"/>
<% if (Array.isArray(locals.styles)) { locals.styles.forEach((style) => { %>
    <link rel="stylesheet"
          href="<%- style %>"/>
<% }); } %>
