$item-height: 66px;

.third-width {
	width: calc(100% / 3);
}

.header {
	border-radius: 0;
	padding: 2em;
	background: #e9ecef url(/images/2b.png) no-repeat right 0 top 0;
	background-size: auto 100%;
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
	z-index: 3;
}

.calendar-list {
	z-index: 1;
	.calendar-item {
		z-index: 2;
		height: $item-height;
		border-radius: 2px;
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);

		.calendar-body {
			margin: 0.6em;
			position: relative;
			height: calc(100% - 1.2em);

			.calendar-title {
				margin: 0;
				width: 100%;
				position: absolute;
				right: 0;
				top: 0;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			.calendar-location {
				opacity: 0.60;
				position: absolute;
				right: 0;
				bottom: 0;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			.calendar-date {
				opacity: 0.60;
				position: absolute;
				left: 0;
				bottom: 0;
			}

			.truncate {
				max-width: calc(100% - 145px);
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			small {
				opacity: 0.60;
			}
		}
	}
}

.news-list {
	z-index: 1;
	.news-item {
		z-index: 2;
		height: $item-height;
		border-radius: 2px;
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);

		.news-image-wrapper {
			display: inline-block;
			height: $item-height;
			width: $item-height;
			overflow-x: hidden;

			.news-image {
				height: $item-height;
				width: auto;
				border-top-left-radius: 2px;
				border-bottom-left-radius: 2px;
			}
		}

		.news-body {
			margin: 0.6em;
			position: relative;
			height: calc(100% - 1.2em);

			.news-title {
				margin: 0;
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
			}

			.news-date {
				opacity: 0.60;
				position: absolute;
				right: 0;
				bottom: 0;
			}
		}
	}
}

::-webkit-scrollbar {
	width: 0;
	background: transparent;
}

.ng-enter, .ng-leave {
	-webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	position: relative;
	display: block;
}

.ng-leave.ng-leave-active, .ng-enter {
	-webkit-transform: scaleY(0);
	-moz-transform: scaleY(0);
	-ms-transform: scaleY(0);
	-o-transform: scaleY(0);
	transform: scaleY(0);
	height: 0px;
	opacity: 0;
}

.ng-enter.ng-enter-active, .ng-leave {
	-webkit-transform: scaleY(1);
	-moz-transform: scaleY(1);
	-ms-transform: scaleY(1);
	-o-transform: scaleY(1);
	transform: scaleY(1);
	height: 30px;
	opacity: 1;
}